/* font-family: "Spline Sans", sans-serif; */
/* font-family: "Rubik Mono One", monospace; */
/* font-family: "Playfair Display", serif; */
/* font-family: "Source Sans 3", sans-serif; */

:root{
  --background-color:#000;

}
.cantainer {
  width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  outline: 1px solid red;
}
 body {
  font-family: "Source Sans 3";
  background-color: var(--background-color);
}

.header {
  
  padding-top: 24px;
}

.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-img{
width: 42px;
height: 39px;
}



.header-text {
  color: #f5ebeb;
  text-align: center;
  font-family: "Spline Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  gap: 32px;
}

.header-link {
  color: #f5ebeb;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}
/* 5===hero=== */
.hero {
  padding-top: 109px;
  padding-bottom: 50px;
}

.hero-span1 {
  display: block;
}

.hero-span {
  margin-left: 110px;
  margin-right: 24px;
}



.hero-title {
  color: #a93b59;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 24px;
}

.hero-span {
  color: #f5ebeb;
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 86px;
  font-weight: 400;
  line-height: 0.69;
  text-transform: uppercase;
}

.hero-text {
  color: #f5ebeb;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: capitalize;
  margin-left: 110px;
  margin-bottom: 42px;
}

.hero-button {
  color: #f5ebeb;
  background-color: #a93b59;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 110px;
  padding: 16px 32px;
  width: 437px;
  border-radius: 15px;
  border: none;
  margin-bottom: 437px;
}

.hero-list {
  display: flex;
  gap: 124px;
  justify-content: center;
}

.hero-img {
  /* margin-left: auto;
  margin-right: auto; */
  width: 40px;
} 

.hero-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

}

.hero-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  width: 201px;
}

.hero-item:nth-child(2) > .hero-desc {
  width: 240px;
}
/* ===cotolog=== */
.catalog {
  padding-top: 50px;
  padding-bottom: 92px;
  text-align: center;
}

.catalog-title {
  color: #a93b59;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  text-align: start;
}

.catalog-box{
  border-radius: 15px;
background: rgba(185, 106, 127, 0.50);
margin-top: 101px;
margin-bottom: 70px;
}

.catalog-caption {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}


.catalog-list{
  display: flex;
  gap: 40px;
background-color: pink;
justify-content: space-between;
padding: 21px 25px;
border-radius: 15px;
background: #B96A7F;
margin-top: 20px;
}

.catalog-item{
  display: flex;
  gap: 73px;
  align-items: center;
  
}


.catalog-text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.27;
}

.catalog-imag{
  width: 16px;
  height: 10px;
}

.catalog-heading {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}

.catalog-items{
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  row-gap: 30px;
  justify-content: center;
}

.catalog-itm{
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
background: #FFF;
text-align: center;
}

.catalog-subtitel {
  color: #000;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.17;
  margin-bottom: 10px;
}

.catalog-dex {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.catalog-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 15px;
border: 1px solid #FFF;
background-color: transparent;
}
/* ===details=== */
.details {
  padding-bottom:132px ;
}

.details-title {
  color: #a93b59;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  text-align: end;
  margin-bottom: 171px;
}

.details-item{
  display: flex;
  align-items: center;
  gap: 121px;
}

.details-item:nth-child(2){
  flex-direction: row-reverse;
}



.details-caption {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.details-text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: capitalize;
}

.detail-span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
/* ===form=== */
.form {
  padding-top: 132px;
  padding-bottom: 121px;
}

.form-title {
  color: #a93b59;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
}

.form-heading {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}

.form-span {
  color: #f5ebeb;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.form-input {
  color: #8d8d8d;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.form-button {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  background-color: #a93b59;
}

.form-subject {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}

.form-text {
  color: rgba(255, 255, 255, 0.71);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}
